/* Header Styles */
.header {
    background-color: #2C3E50;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header h1 {
    color: white;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    width: 100%;
    height: 6vh;
    border-radius: 100px;
    cursor: pointer;
}

.logoImg:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    color: rgb(7, 7, 7);
    text-decoration: underline;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("media/1.png");
    /* align-items: center; */
}
/* Profile Styles */
.profile-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border: #0e1d20 5px solid;
    border-radius: 15px;
    margin: 1%;
    align-self: center;
    background-color: #decdb986;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 32px;
    margin-top: 10px;
}

.profile-role {
    font-size: 18px;
    color: grey;
}

.profile-details h2 {
    font-size: 24px;
    margin-top: 20px;
}

.profile-details p {
    font-size: 16px;
    line-height: 1.5;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-list li {
    margin-bottom: 10px;
}

/* Footer Styles */
.footer {
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    margin: 10px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
    color: blue;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.newsletter .input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    width: 100%;
}

.newsletter button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #0e1d20;
    color: white;
    cursor: pointer;
    width: 100%;
}

.newsletter button:hover {
    background-color: #6a949c;
}

.terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#terms {
    margin-right: 10px;
}
